<apex:page standardController="Account">
    <apex:form >
    
    <apex:pageBlock title="Account Edit">
      
          
            <apex:pageBlockSection columns="1">
    <apex:inputField value="{! Account.Name }"/>
                          <apex:pageMessages />
    <apex:inputField value="{! Account.Phone }"/>        
    <apex:inputField value="{! Account.Industry }"/>        
    <apex:inputField value="{! Account.AnnualRevenue }"/>
      
</apex:pageBlockSection>
        
     
        <apex:pageBlockButtons >
            <apex:commandButton action="{! save }" value="Save" />        
        </apex:pageBlockButtons>
    </apex:pageBlock>
    <apex:pageBlock title="Contacts">
    <apex:pageBlockTable value="{!Account.contacts}" var="contact">
        <apex:column >
            <apex:outputLink value="{! URLFOR($Action.Contact.Edit, contact.Id) }">
                Edit
            </apex:outputLink>
            &nbsp;
            <apex:outputLink value="{! URLFOR($Action.Contact.Delete, contact.Id) }">
                Del
            </apex:outputLink>
        </apex:column>
        <apex:column value="{!contact.Name}"/>
        <apex:column value="{!contact.Title}"/>
        <apex:column value="{!contact.Phone}"/>
    </apex:pageBlockTable>
</apex:pageBlock>
    </apex:form>
</apex:page>